<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SKEssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SKEssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SKEssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SKEssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB5AD1102B6FBD180099BF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F0992C3EC91B00B57969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F0A22C3EC91B00B57969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB146C52C114ED900A949F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBF3257E2AE6310B00E38E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBF325882AE6310B00E38E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
